header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 999;
  background: rgba($brand-color-bg, 0.85);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  .container {
    @include flex(row, space-between, center);
    position: relative;
  }

  nav {
    @include flex(row, space-between, center);
    ul {
      @include flex(row, space-between, center);
      padding: 3.6rem 0;

      li {
        a {
          padding: 1rem 0;
          // Menu Styles
          &::before,
          &::after {
            width: 1rem;
            height: 1rem;
            margin: 0 0.5rem;
            color: $brand-color-purple;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 120%;
            transition: all 0.3s ease-in;
            position: relative;
            opacity: 0;
          }
          &::before {
            content: "<";
            left: -1rem;
          }
          &::after {
            content: "/>";
            left: 1rem;
          }
          &:hover::before {
            opacity: 1;
            left: 0rem;
          }
          &:hover::after {
            opacity: 1;
            left: 0rem;
          }
        }

        &:last-child {
          margin-right: 2rem;
        }
      }
    }

    .header-btns {
      @include flex(row, space-between, center);
      gap: 2.6rem;
      padding: 3rem 0;
      img {
        width: 2.3rem;
      }
    }
    .cv-download {
      @include flex(row, space-between, center);
      gap: 1rem;

      padding: 0.7rem 2rem;
      border: 0.1rem solid $brand-color-purple;
      border-radius: 50rem;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: $brand-color-purple;
      }
    }

    .menu-mobile {
      display: none;
    }
  }

  // RESPONSIVE
  @include responsive(820px) {
    nav {
      ul {
        display: none;
      }
      .menu-mobile {
        display: none;
      }

      .cv-download {
        display: none;
      }
    }

    .lang-dropdown {
      right: 9.2rem;
    }
  }
  @include responsive(430px) {
    .lang-dropdown {
      &:before {
        top: -38px;
      }
    }
  }
}
