// Colors
$brand-color-purple: #9245f5;
$brand-color-black: #2c2c2c;
$brand-color-bg: #08070c;
$brand-color-light: #fffef9;

// Grey Scale
$grey-600: #33303e;
$grey-500: #4e4b59;
$grey-400: #5f5c6b;
$grey-300: #7a7786;
$grey-200: #c6c5ce;
$grey-100: #f1f0f5;

// Light Mode
$brand-color-purple-light: #9245f5;
$brand-color-black-light: #2c2c2c;
$brand-color-bg-light: #fffef9;
